<div class="mt-4">
    <form>
  <div class="form-group">
    <label for="search-input">Search</label>
    <input type="text" name="Search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search...">
    <small id="emailHelp" class="form-text text-muted">Search everyone</small>
  </div>
  <div class="mb-3">
    <select name="gender" id="gender">
      <option value="">-Chọn giới tính-</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>
  <div><button type="submit" class="btn btn-primary">Tìm kiếm</button></div>
</form>
</div>